:root{
  --white: #ffff;
  --darkBlue: #00008B;
  --mainBlue:#0d305c;
  --lightBlueLabel: #092c7e;
  --mainYellow:#F6A801;
  --lightGreyForm: #F5F5F5;

}
/* Header */
#nav-list{
  display: flex;
  width: 100%;
}
#nav-list li{
  display: flex;
  align-items: center;
}
#nav-list li:not(:first-child,:last-child){
  justify-content: center;
  padding: 15px;
}
#nav-list li:last-child{
  margin-left: auto;
  padding-right: 35px;
}
/* Home page*/
#homeMainDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--mainBlue);

}
#homeMainDiv :nth-child(1){
  margin-left: -40px ;
}
#homeMainDiv :nth-child(2){
  text-align: end;

}
#homeMainDiv :nth-child(2) h1{
  display: block;
  margin-top: -120px;
  padding-right: 35px;
  font-size: 46px;
}
#homeMainDiv :nth-child(2) h2{
  display: block;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 70px;
  padding-right: 35px;

}
#homeMainDiv :nth-child(2) p{
  padding-right: 35px;
}
#homeMainDiv :nth-child(2) a{
  display: block;
  width: 300px;
  height: 40px;
  padding-top:7px ;
  margin-left: 230px;
  border-radius: 6px;
  background-color: var(--mainYellow);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  text-align: center;

}
/*Rules page*/
#rulesMainDiv h1{
  display: block;
  width: 500px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  margin-left: 35px;
  border-style: solid;
  border-color: var(--darkBlue);
  border-width:0 0 1px 0;
  color:var(--darkBlue);

}
#rulesMainDiv section{
  display: flex;
  align-items: center;
  margin: 0 35px 0 35px;
  padding-bottom:80px;
  color: var(--darkBlue);
}
#rulesMainDiv .paragraphs{
  font-size: 15px;
}
#rulesMainDiv .imgDivR{
  padding-left: 50px;
}
#rulesMainDiv .imgDivL{
  padding-right: 50px;
}
#rulesMainDiv .linkToRules{
  color: var(--mainYellow);
}
#rulesMainDiv .paragraphHeader{
  font-size: 20px;
}
#rulesMainDiv .linkToRules span{
  padding-right: 5px;

}


/* Footer */
footer{
  width: 100%;
  padding:100px;
  background-color: var(--mainBlue);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;

}
#footerMainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footerMainDiv div h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--mainYellow);
  padding: 10px;
}
#footerMainDiv div ul{
  padding-left: 0;
}
#footerMainDiv div ul li{
  list-style-type: none;
}

#footerMainDiv div .contactList li{
  padding: 10px;

}
#footerMainDiv div .contactList li span {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-right: 20px;
}
#footerMainDiv div .contactList li p{
  display: inline;
  padding-left: 5px;
  margin-bottom: 0;
}

#footerMainDiv div .otherServicesList{
  padding-bottom: 10px;
}

#footerMainDiv div .otherServicesList li{
  display: inline;
  width: 40px;
  padding-right: 10px;

}
#footerMainDiv div  .otherServicesList li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 7px;
  background-image: url("img/elipse.png");
  background-repeat: no-repeat;
  text-decoration: none;
  color: var(--white);
  text-align: center;

}

/*Appointments page*/

.div-container {
  overflow: hidden;
  padding: 30px;
}

.text {
  color: var(--mainBlue);
}

.column {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.column > * {
  margin: 0 auto;
}

.bubble-container {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.bubble {
  margin: 5px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--mainBlue);
  color: var(--mainBlue);
}

.selected {
  background-color: var(--mainBlue);
  color: white;
}

.bubble-container > * {
  margin-right: 10px;
}

.button{
  display: block;
  padding:5px ;
  width: 50%;
  border-radius: 6px;
  background-color: var(--mainYellow);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 6px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

/*Payment*/
#payment-button{
  display: block;
  padding:5px ;
  width: 50%;
  border-radius: 6px;
  background-color: var(--mainYellow);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 6px -2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

.info-columns {
  display: flex;
  padding: 30px 0px;
}

.payment-info-column {
  flex: 1;
  margin-right: 20px; /* Adjust spacing between columns */
}

.payment-info-container {
  margin-bottom: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #F5F5F5;
  color: var(--mainBlue);
  width: 500px;
  margin: 0px 100px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Registration page*/
#registrationPage{
  display: flex;
  justify-content: center;
}
#registrationPage .container1Reg{
  width: 50%;
  padding-right: 100px;
  padding-left: 100px;
}
#registrationPage div:first-child h1{
  display: block;
  padding-bottom: 30px;
  text-decoration: underline;
  color: var(--mainBlue);
  text-align: center;
}
#registrationPage .container1Reg p{
  text-align: center;
  color: var(--darkBlue);
}
#registrationPage .container2Reg{
  width: 50%;
  padding-right: 100px;
  padding-bottom: 100px;


}

#registrationPage .container2Reg h5{
  display: block;

  padding-bottom: 20px;
  text-align: center;
  color: var(--darkBlue);
}

#registrationForm {
  padding: 30px 60px 30px 60px;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  border-color: var(--lightGreyForm);
  background-color: var(--lightGreyForm);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#registrationForm .inputField{
  border-color: var(--darkBlue);
  border-width: 2px;
}
#registrationForm label{
  color: var(--lightBlueLabel)
}
#registrationForm #fullname{
  display: flex;
  justify-content: space-between;
}
#registrationForm button{
  border-style: none;
  width: 500px;
  padding: 7px;
  margin-bottom: 7px ;
  background: var(--mainBlue);
  border-radius: 5px;
  font-weight: bold;
  color: var(--white);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
/*Login*/
#loginPage{
  display: flex;
  padding-left: 100px;
 
}

#loginPage .container1Log,
#loginPage .container2Log{
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}

#loginPage .container1Log .titleLog{
  display: block;
  width: 600px;
  margin-top: -100px;
  margin-bottom: 30px;
  border-width: 0 0 3px 0;
  border-color: var(--darkBlue);
  border-style: solid;
}

#loginPage .container1Log h1{
color: var(--darkBlue);
}

#loginForm{
  width: 600px;
  margin-left:-15px ;
  padding: 30px 50px 30px 50px;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  border-color: var(--lightGreyForm);
  background-color: var(--lightGreyForm);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

#loginForm h5{
  color: var(--darkBlue);
  text-align: center;
}
#loginForm label{
  color: var(--lightBlueLabel);
}

#loginForm .inputField{
  border-width: 2px;
  border-style: solid;
  border-color: var(--darkBlue);
}
#loginForm a{
   color: var(--mainYellow);
}
#loginForm p{
  text-align: center;
  color: var(--darkBlue);

  
}
#loginForm button{
  border-style: none;
  width: 500px;
  padding: 7px;
  margin-bottom: 7px ;
  background: var(--mainBlue);                          
  border-radius: 5px;                                   
  font-weight: bold;                                    
  color: var(--white);
  margin-top: 10px;                                     
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}








                                      









